html {
  background-color: #000000;
  font-family: sans-serif;
  height: 100%;
  scrollbar-gutter: stable;

}

body {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;

  background-image: url('/MainBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  border: 8px solid black;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 9999;
}

nav {
  z-index: 1;
}

@media (max-width: 768px) {
  nav {
    right: 50%;
    left: auto;
    transform: translateX(50%);
    text-align: center;
    padding-top: 7rem;
  }

}

header nav {
  position: fixed;
  top: 15px;
  left: 15px;
  line-height: .75rem;
}



* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top: 0%;
  color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

p {
  color: white;
  font-weight: 100;
}

/* Site Title */

.site-title {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top: 0%;
  color: white;
  z-index: 1;

}

.site-title a {
  text-decoration: none;
  color: white;
}

.site-title a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .site-title {
    width: 100%;
  }
}


/* nav styles */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.nav-links a {
  text-decoration: none;
  font-size: .9rem;
  color: white;
  font-weight: 100;
  text-transform: uppercase;

}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .nav-links a {
    text-decoration: underline;
  }

}



.project-header-image {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 70px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.project-header-image-vertical {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .project-header-image {
    margin-top: 170px;
  }

  .project-header-image-vertical {
    margin-top: 170px;
  }

}

.project-body {
  color: white;
  font-weight: 150;
  font-size: 1.2rem;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 25px;
}

.image-grid {
  gap: 1rem;
}

.image-grid--landscape {
  columns: 550px;
  column-gap: .5rem;
  animation: fadeIn 1s ease forwards;
}

.image-grid--mobile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  animation: fadeIn 1s ease forwards;
  column-gap: .5rem;

}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  animation: fadeIn 1s ease forwards;
  padding-top: .5rem;

}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.project-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 100;
}

.project-link:hover {
  text-decoration: underline;
}

.project-tags {
  font-size: .85em;
}



/*Bio*/

.bio {
  position: fixed;
  top: 0;
  right: 15px;
  width: 30%;
  text-align: right;
  line-height: 1rem;
  font-size: 1rem;
  z-index: 1;

}

@media (max-width: 768px) {
  .bio {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
    top: 2.5rem;
  }
}

/*About Page*/

.about-image {
  width: 70%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  aspect-ratio: auto;

}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  padding-right: 18rem;
  margin-top: 8%;
}

.about-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
}

.about-image-wrapper {
  flex: 1 1 400px;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
}

.about-text {
  flex: 1 1 300px;
  min-width: 250px;
}

@media (max-width: 768px) {
  .about-wrapper {
    padding-right: 2rem;
    margin-top: 5rem;
  }

  .about-image {
    width: auto !important;
    max-width: 200px !important;
    height: auto !important;
    aspect-ratio: auto !important;
    display: block;
    object-fit: contain !important;

  }

  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image-wrapper {
    justify-content: center;
    width: 100%;
  }


  .about-text {
    max-width: 600px;
  }
}

/*Video*/
.dev-reel-video {
  flex: 1 1 400px;
  max-width: 600px;
}

@media (max-width: 768px) {
  .dev-reel-video {
    padding-top: 5rem;
  }
}

/*CSS Animation*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}