html {
  background-color: #000000;
  font-family: sans-serif;
  height: 100%;

}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 5;
  line-height: 1.5;
  background-image: url('/public/MainBackground.png');
  background-size: cover;
  background-position: center;
    background-color: rgba(0,0,0,0.85);
  background-blend-mode:darken;
    border: 8px solid black;

}

/* Put nav in top-left corner */
header nav {
  position: absolute;
  top: 15px;
  left: 15px;
  line-height: .75rem;

}

/* Put nav in top-left corner */
.bio {
  position: absolute;
  top: 0;
  right: 15px;
  width: 30%;
  text-align: right;
  line-height: 1rem;
    font-size: 1rem;

}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top: 0%;
  color: white;
}

p {
  color: white;
  font-weight: 100;
}

.site-title {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top: 0%;
  color: white;
}

.site-title a {
  text-decoration: none;
  color: white;
}

.site-title a:hover {
  text-decoration: underline;
}

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

/* nav styles */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-links a {
  text-decoration: none;
  font-size: .9rem;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
}