html {
  background-color: #000000;
  font-family: sans-serif;
  height: 100%;
  scrollbar-gutter: stable;

}

body {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;

  background-image: url('/MainBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background stays fixed */
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
}

/* fixed border around viewport */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0; */
  border: 8px solid black;
  pointer-events: none;
  /* allow interacting with content */
  box-sizing: border-box;
  z-index: 9999;
  /* ensures it's above everything */
}

nav{
    z-index: 1;
}

header nav {
  position: fixed;
  top: 15px;
  left: 15px;
  line-height: .75rem;
}

.bio {
  position: fixed;
  top: 0;
  right: 15px;
  width: 30%;
  text-align: right;
  line-height: 1rem;
  font-size: 1rem;
  z-index: 1;

}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top: 0%;
  color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

p {
  color: white;
  font-weight: 100;
}

.site-title {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top: 0%;
  color: white;
  z-index: 1;

}

.site-title a {
  text-decoration: none;
  color: white;
}

.site-title a:hover {
  text-decoration: underline;
}

/* nav styles */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-links a {
  text-decoration: none;
  font-size: .9rem;
  color: white;
  font-weight: 100;
  text-transform: uppercase;

}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
}

.project-header-image {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 70px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.project-body {
  color: white;
  font-weight: 150;
  font-size: 1.2rem;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 25px;
}

/*CSS Animation*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}