---
import Navigation from "./Navigation.astro";
---

<header>
    <h1 class="site-title">
        <a href="/">Nina Demirjian</a>
    </h1>
    <nav>
        <Navigation />
    </nav>
    <p class="bio">
        Software engineer with a focus in interactive media and game
        development. <br />Based in Brooklyn, NY
    </p>
</header>
