---
import { Image } from "astro:assets";
import colorplay_00 from "../../assets/colorplay/colorplay_00.png";
---

<div class="image-grid">
  <Image src={colorplay_00} alt="" class="grid-img" />
</div>